<p id="notice"><%= notice %></p>

<h1>Listing Hookahs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hookahs.each do |hookah| %>
      <tr>
        <td><%= hookah.title %></td>
        <td><%= hookah.description %></td>
        <td><%= link_to 'Show', hookah %></td>
        <td><%= link_to 'Edit', edit_hookah_path(hookah) %></td>
        <td><%= link_to 'Destroy', hookah, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hookah', new_hookah_path %>
